{% load static %}
<section class="menu cid-s2gxIC1dUo" once="menu" id="menu1-2">
    <nav class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-toggleable-sm border-bottom">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                <span class="navbar-logo">
                    <a href="https://mobirise.co">
                         <img src="{% static 'assets/images/logo2.png' %}" alt="Mobirise" style="height: 2.8rem;">
                    </a>
                </span>
                <span class="navbar-caption-wrap"><a class="navbar-caption text-secondary display-5" href="https://mobirise.co">GişeMemuru.com</a></span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown nav-right" data-app-modern-menu="true">
                <li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="page2.html#top" target="_blank">
                        <!-- <span class="mbri-mobile mbr-iconfont mbr-iconfont-btn"></span> -->
                        İhtiyaç Kredisi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="page2.html#top" target="_blank">
                        <!-- <span class="mbri-mobile mbr-iconfont mbr-iconfont-btn"></span> -->
                        Konut Kredisi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link text-primary display-7" href="page2.html#top" target="_blank">
                        <!-- <span class="mbri-mobile mbr-iconfont mbr-iconfont-btn"></span> -->
                        Taşıt Kredisi
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</section>