{% load static %}
<script src="{% static 'assets/web/assets/jquery/jquery.min.js' %}"></script>
<script src="{% static 'assets/popper/popper.min.js' %}"></script>
<script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/smoothscroll/smooth-scroll.js' %}"></script>
<script src="{% static 'assets/dropdown/js/nav-dropdown.js' %}"></script>
<script src="{% static 'assets/dropdown/js/navbar-dropdown.js' %}"></script>
<script src="{% static 'assets/web/assets/cookies-alert-plugin/cookies-alert-core.js' %}"></script>
<script src="{% static 'assets/web/assets/cookies-alert-plugin/cookies-alert-script.js' %}"></script>
<script src="{% static 'assets/mbr-tabs/mbr-tabs.js' %}"></script>
<script src="{% static 'assets/datatables/jquery.data-tables.min.js' %}"></script>
<script src="{% static 'assets/datatables/data-tables.bootstrap4.min.js' %}"></script>
<script src="{% static 'assets/mbr-popup-btns/mbr-popup-btns.js' %}"></script>
<script src="{% static 'assets/touchswipe/jquery.touch-swipe.min.js' %}"></script>
<script src="{% static 'assets/tether/tether.min.js' %}"></script>
<script src="{% static 'assets/theme/js/script.js' %}"></script>
<script src="{% static 'assets/formoid/formoid.min.js' %}"></script>

<script src="{% static 'node_modules/jquery/dist/jquery.min.js' %}"></script>
<script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>

<input name="cookieData" type="hidden" data-cookie-customDialogSelector='null' data-cookie-colorText='#424a4d' data-cookie-colorBg='rgba(234, 239, 241, 0.99)' data-cookie-textButton='Agree' data-cookie-colorButton='' data-cookie-colorLink='#424a4d' data-cookie-underlineLink='true' data-cookie-text="We use cookies to give you the best experience. Read our <a href='privacy.html'>cookie policy</a>.">
