<div id="sticky-anchor"></div>
<div id="sticky">
  {% include 'loans/loan_detail_page_elements/quick_loan_request_section.html' %}
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>
function sticky_relocate() {
  var window_top = $(window).scrollTop();
  var div_top = $('#sticky-anchor').offset().top;
  console.log('this is working')
  if (window_top > div_top) {
    $('#sticky').addClass('stick');
    console.log('sticked')
  } else {
    $('#sticky').removeClass('stick');
    console.log('unsticked')
  }
}

$(function() {
  $(window).scroll(sticky_relocate);
  sticky_relocate();
});
</script>